@use './base/reset';
@use './base/fonts';
@use './base/variables' as *;
@use './base/mixins' as *;

@import "../../icons/style.css";

body {
  background-color: $wit;
}

.raleway {
  width: 100%;
  margin: 0 auto;
  &__hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__navbar {
      width: 90%;
      max-width: 1170px;
      margin: 0 auto;
      padding: 35px 0;

      .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $wit;
        }

        &__item {
          margin-right: 45px;

          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-weight: 300;
        }
        &__logo {
          margin-right: 25px;

          font-size: 55px;
        }
        &__title {
          margin-right: auto;

          font-family: "Raleway", sans-serif;
          font-size: 34px;
          font-weight: 400;
        }
        &__search {
          margin-left: 60px;

          font-size: 25px;
        }
      }
    }

    &__slider {
      width: 95%;
      max-width: 1620px;
      margin: 0 auto;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .left,
      .right {
        text-decoration: none;
        color: $lichtgrijs;
        font-size: 75px;
      }

      .tagline {
        width: 40%;
        font-family: "Raleway", sans-serif;
        color: $wit;
        text-align: center;

        h2 {
          font-size: 36px;
          font-weight: 500;
        }
        h1 {
          font-size: 52px;
          font-weight: 800;
          line-height: 80px;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 27px;
        }
        button {
          margin-top: 45px;

          font-size: 14px;
          font-weight: 800;
          padding: 17px 50px;

          color: $wit;
          background-color: $bruin;
          border: none;
          border-bottom: 3px solid $donkerbruin;
          border-radius: 4px;

          cursor: pointer;
        }
      }
    }

    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 35px 0;

      a {
        margin: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $lichtgrijs;

        &.selected {
          width: 15px;
          height: 15px;
          background-color: transparent;
          border: 2px solid $wit;
        }
      }
    }
  }

  &__articles {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 0;

    @include make-col(4, 25px);

    &__asset {
      text-align: center;
      position: relative;

      .icon {
        font-size: 50px;
        color: $grijs;
      }
      h1 {
        font-family: "Raleway", sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 60px;
        color: $grijs;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        color: $lichtgrijs;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: calc(50% - 35px);
        height: 3px;
        width: 70px;
        background-color: #f2eeea;
      }
    }
  }
}
